<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span th:text="#{locadora.cadastrar.label}"></span></li>
				</ul>
				<a class="btn btn-primary btn-md" th:href="@{/locadoras/listar}"
					role="button"> <span class="oi oi-spreadsheet" title="Listar"
					aria-hidden="true"></span> <span th:text="#{locadora.listar.label}"></span>
				</a>
			</div>
		</nav>

		<div class="container" id="cadastro">

			<div th:replace="fragments/alert"></div>

			<form
				th:action="${locadora.id == null} ? @{/locadoras/salvar} : @{/locadoras/editar}"
				th:object="${locadora}" method="POST">

				<div class="form-row">
					<div class="form-group col-md-6">
						<label th:text="#{locadora.email.label}" for="email"></label> 
						<input type="text" class="form-control" id="email"
							th:placeholder="#{locadora.email.label}"
							autofocus="autofocus" th:field="*{email}"
							th:classappend="${#fields.hasErrors('email')} ? is-invalid" required/>

						<div class="invalid-feedback">
							<span th:errors="*{email}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
						<label th:text="#{locadora.password.label}" for="password"></label> 
						<input type="text" class="form-control" id="password"
							th:placeholder="#{locadora.password.label}" autofocus="autofocus"
							th:field="*{password}"
							th:classappend="${#fields.hasErrors('password')} ? is-invalid" th:readonly="${locadora.id != null}" required/>
							
						<div class="invalid-feedback">
							<span th:errors="*{password}"></span>
						</div>
					</div>
					
					<div class="form-group col-md-6">
						<label th:text="#{locadora.nome.label}" for="nome"></label> 
						<input type="text" class="form-control" id="nome" th:field="*{nome}"
							th:placeholder="#{locadora.nome.label}" autofocus="autofocus"
							th:classappend="${#fields.hasErrors('nome')} ? is-invalid" required />
							
						<div class="invalid-feedback">
							<span th:errors="*{nome}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
                        <label th:text="#{locadora.CNPJ.label}" for="cnpj"></label> 
                        <input th:if="${locadora.id != null}" readonly type="text" class="form-control" id="cnpj" th:field="*{cnpj}"
                            autofocus="autofocus" placeholder="__. ___. ___/____-__"
                            th:classappend="${#fields.hasErrors('cnpj')} ? is-invalid" 
                            data-mask="000.000.000-00" data-mask-reverse="true" required/>	
                        <input th:unless="${locadora.id != null}" type="text" class="form-control" id="cnpj" th:field="*{cnpj}"
                            autofocus="autofocus" placeholder="__. ___. ___/____-__"
                            th:classappend="${#fields.hasErrors('cnpj')} ? is-invalid" 
                            data-mask="000.000.000-00" data-mask-reverse="true" required/>
                        <div class="invalid-feedback">
                            <span th:errors="*{cnpj}"></span>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
						<label th:text="#{locadora.cidade.label}" for="cidade"></label> 
						<input type="text" class="form-control" id="cidade" th:field="*{cidade}"
							th:placeholder="#{locadora.cidade.label}" autofocus="autofocus"
							th:classappend="${#fields.hasErrors('cidade')} ? is-invalid" required/>
							
						<div class="invalid-feedback">
							<span th:errors="*{cidade}"></span>
						</div>
					</div>
					
                    
					<div class="form-group col-md-6">
						<label th:text="#{locadora.role.label}" for="role"></label> 
						<select id="role" class="form-control" th:field="*{role}"
							th:classappend="${#fields.hasErrors('role')} ? is-invalid" required>
							<option value="ROLE_ADMIN">ROLE_LOCADORA</option>
						</select>

						<div class="invalid-feedback">
							<span th:errors="*{role}"></span>
						</div>
					</div>
				</div>

				<input type="hidden" id="id" th:field="*{id}" />
				<button type="submit" th:text="#{button.salvar.label}"
					class="btn btn-primary btn-sm"></button>
			</form>
		</div>
	</section>
</body>
</html>